stages:
  - publish
variables:
  TAG_LATEST: $CI_REGISTRY/$CI_REGISTRY_USER/teste:latest
  TAG_COMMIT: $CI_REGISTRY/$CI_REGISTRY_USER/teste:$CI_COMMIT_REF_SLUG
publish:
  stage: publish
  script:
    - echo "127.0.0.1 docker" >> /etc/hosts
    - cat /etc/hosts
    - docker ps    
    - docker build -t $TAG_COMMIT -t $TAG_LATEST .    
    - docker login -u $CI_REGISTRY_USER -p CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push $TAG_COMMIT
