services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    # command: echo OK
    environment:
      WWWROOT: /code
      DEBUG: true
    volumes:
      - web:/code
    container_name: nginx_php
    ports:
      - 80:80
volumes:
  data: {}
  web: {}

